<div class="container">
  <div class="row pt-3">
    <div class="col-6">
      <h4>Student Portal</h4>
    </div>
    <div class="col-6 text-end">
  <button class="btn btn-outline-success" (click)="openModel()">Add New</button>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-6">
              Student Name
            </div>
            <div class="col-6 text-end">
              Mobile Number
            </div>
          </div>
        </div>
        <div class="card-body">
          <p>City, State, Pincode</p>
          <p>Address</p>
        </div>
        <div class="card-footer text-center">
          <p>E-mail</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Create New Student</h4>
        <button type="button" class="btn-close" (click)="closeModel()"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <label>Name</label>
            <input type="text" [(ngModel)]="studentObj.name" class="form-control" placeholder="name">
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label>Mobile Number</label>
            <input type="text" [(ngModel)]="studentObj.mobileNo" class="form-control" placeholder="Mobile Number">
          </div>
          <div class="col-6">
            <label>Email</label>
            <input type="text" [(ngModel)]="studentObj.email" class="form-control" placeholder="Email">
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <label>City</label>
            <input type="text" [(ngModel)]="studentObj.city" class="form-control" placeholder="City">
          </div>
          <div class="col-4">
            <label>State</label>
            <input type="text" [(ngModel)]="studentObj.state" class="form-control" placeholder="State">
          </div>
          <div class="col-4">
            <label>Pincode</label>
            <input type="text" [(ngModel)]="studentObj.pincode" class="form-control" placeholder="Pincode">
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <label>Address</label>
            <textarea rows="3" [(ngModel)]="studentObj.address" class="form-control"></textarea>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="closeModel()">Close</button>
        <button type="button" class="btn btn-primary" (click)="saveStudent()">Save</button>
      </div>
    </div>
  </div>
</div>